/* ----------------------------------------------------------------
  見出し
---------------------------------------------------------------- */



/* ----------------------------------------------------------------
  リスト
---------------------------------------------------------------- */
.notes-title{
  font-size: 1.3rem;
  line-height: 1.5;
}

// ※印
.list-notes {
  margin: 1em auto;
  li {
    padding-left: 1.25em;
    font-size: 1.3rem;
    line-height: 1.5;
    position: relative;
    &::before {
      content: '・';
      position: absolute;
      left: 0;
    }
  }
}

// num
.list-num {
  @extend .list-notes;
  counter-reset: Num;
  li{
    counter-increment: Num;
    &::before{
      content: counter(Num)'.';
    }
  }
}

// disc
.list-disc {
  margin: 1em auto;
  li {
    & + li {
      margin-top: 0.4em;
    }
    font-size: 1.3rem;
    position: relative;
    padding-left: calc(1em + 1px);
    &::before {
      content: '・';
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}


/* ----------------------------------------------------------------
  その他
---------------------------------------------------------------- */
// 開閉アイテム
.js-trgAccordion {
  display: none;
}

// 注釈
.notes {
  display: block;
  font-size: 0.86667em;
  line-height: 1.5;
}

// snsボタン
.sns {
  @include flex(wrap, center, stretch);
  .sns__icon {
    margin: 0 min(9vw, 34px);
    width: 56px;
  }
}