@charset 'UTF-8';
@font-face{
  font-weight: 400;
  font-style: normal;
  font-family: 'Noto Sans JP';
  src: local('Noto Sans JP Regular'), url('../fonts/notosans-jp/NotoSansJP-Regular.woff2') format('woff2'), url('../fonts/notosans-jp/NotoSansJP-Regular.woff') format('woff'), url('../fonts/notosans-jp/NotoSansJP-Regular.otf') format('embedded-opentype');
}
@font-face{
  font-weight: 600;
  font-style: normal;
  font-family: 'Noto Sans JP';
  src: local('Noto Sans JP Bold'), url('../fonts/notosans-jp/NotoSansJP-Bold.woff2') format('woff2'), url('../fonts/notosans-jp/NotoSansJP-Bold.woff') format('woff'), url('../fonts/notosans-jp/NotoSansJP-Bold.otf') format('embedded-opentype');
}
@font-face{
  font-weight: 900;
  font-style: normal;
  font-family: 'Noto Sans JP';
  src: local('Noto Sans JP Black'), url('../fonts/notosans-jp/NotoSansJP-Black.woff2') format('woff2'), url('../fonts/notosans-jp/NotoSansJP-Black.woff') format('woff'), url('../fonts/notosans-jp/NotoSansJP-Black.otf') format('embedded-opentype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

html{
  line-height: 1;
}

ol,
ul{
  list-style: none;
}

table{
  border-spacing: 0;
  border-collapse: collapse;
}

caption,
th,
td{
  vertical-align: middle;
  text-align: left;
  font-weight: normal;
}

q,
blockquote{
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after{
  content: '';
  content: none;
}

sub,
sup{
  font-weight: normal;
  font-size: 50%;
}

a img{
  border: none;
}

article,
aside,
details,
figcaption,
figure,
picture,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary{
  display: block;
}

input[type=button]:not([disabled]),
input[type=submit]:not([disabled]),
input[type=reset]:not([disabled]),
button:not([disabled]){
  cursor: pointer;
}

[hidden]{
  display: none !important;
}

button{
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  -webkit-appearance: none;
          appearance: none;
}

/* ------------------------------------
//  base
// ----------------------------------*/
*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html{
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body{
  position: relative;
  width: 100%;
  height: 100%;
  color: #333;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;

  overflow-wrap: break-word;
}

.pc{
  display: none;
}
*,
*:before,
*:after{
  box-sizing: border-box;
}

button{
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  -webkit-appearance: none;
          appearance: none;
}

/* ------------------------------------
//  見出し
// ----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6{
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.6em;
}

/* ------------------------------------
//  フォント
// ----------------------------------*/
em,
strong{
  font-weight: 600;
  font-style: normal;
}

/* ------------------------------------
//  リスト
// ----------------------------------*/
ol,
ul{
  list-style: none;
}

/* ------------------------------------
//  段落設定
// ----------------------------------*/
p{
  margin: 1em auto 0;
  text-align: left;
}
p:first-of-type{
  margin-top: 0;
}

/* ------------------------------------
//  画像
// ----------------------------------*/
img,
svg{
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: bottom;
  line-height: 1;
}

/* ------------------------------------
//  リンク
// ----------------------------------*/
a{
  color: #333;
  text-decoration: none;
  transition: all .1s linear 0s;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
a:link,
a:visited{
  color: #d70056;
  text-decoration: none;
}
a:hover,
a:active{
  color: #333;
  text-decoration: underline;
}
a i{
  margin: 0 4px;
}

header a:link,
header a:visited,
footer a:link,
footer a:visited{
  color: #d70056;
  text-decoration: none;
}
header a:hover,
header a:active,
footer a:hover,
footer a:active{
  color: #333;
  opacity: 1;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}

a img{
  opacity: 1;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}
/* ----------------------------------------------------------------
  見出し
---------------------------------------------------------------- */
/* ----------------------------------------------------------------
  リスト
---------------------------------------------------------------- */
.list-notes{
  margin: 1em auto;
}
.list-notes li{
  position: relative;
  padding-left: 1.25em;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.5;
}
.list-notes li::before{
  position: absolute;
  left: 0;
  content: '※';
}

.list-disc{
  margin: 1em auto;
}
.list-disc li{
  position: relative;
  padding-left: calc(1em + 1px);
}
.list-disc li+ li{
  margin-top: .4em;
}
.list-disc li::before{
  position: absolute;
  top: 2px;
  left: 0;
  content: '・';
  font-size: 14px;
  font-size: 1.4rem;
}

/* ----------------------------------------------------------------
  その他
---------------------------------------------------------------- */
.js-trgAccordion{
  display: none;
}

.notes{
  display: block;
  font-size: .86667em;
  line-height: 1.5;
}

.sns{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -ms-flex-align: stretch;

  align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: center;
}
.sns .sns__icon{
  margin: 0 min(9vw, 34px);
  width: 56px;
}

/* ----------------------------------------------------------------
  ヘッダーのレイアウト
---------------------------------------------------------------- */
.header{
  position: relative;
  z-index: 1;
  height: 36px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .16);
}
.header .header__inner{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  padding-right: 12px;
  padding-left: 12px;
  height: 100%;

  align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  justify-content: space-between;
}
.header .header__inner a{
  line-height: 1;
}
.header .header__inner .logo-housemate-navi img{
  width: 90px;
}
.header .header__inner .logo-housemate img{
  width: 108px;
}
/* ----------------------------------------------------------------
  フッターのレイアウト
---------------------------------------------------------------- */
main+ .footer{
  margin-top: 86px;
  border-top: 1px solid #b5b5b5;
}
.footer .footer__inner{
  padding: 12px 12px 8px;
}
.footer .footer__inner .logo{
  width: 116px;
  line-height: 1;
}
.footer .footer__inner .logo img{
  width: 100%;
}
.footer .footer__inner .copyright{
  margin-top: 10px;
  font-size: 10px;
  font-size: 1rem;
  line-height: 1.3;
}
/* ----------------------------------------------------------------
  各ページ共通
---------------------------------------------------------------- */
.iv,
.ivo{
  visibility: hidden;
}

img{
  transition: .25s;
}

a{
  transition: 1s;
}
a:hover img{
  opacity: .7;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
}

.button{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  overflow: visible;
  margin: 60px auto 0;
  max-width: 375px;
  width: 100%;
  height: 80px;
  border-radius: 40px;
  background-color: #e9607c;
  box-shadow: 0 6px 0 #d70056;
  color: #fff;
  letter-spacing: .1em;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.8rem;
  transition: none;

  align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  justify-content: center;
}
.button:link,
.button:visited{
  color: #fff;
  transition: none;
}
.button:hover,
.button:active{
  text-decoration: none;
}
.button::before{
  position: absolute;
  top: 0;
  right: 23px;
  width: 24px;
  height: 100%;
  background-image: url(../images/cnt_ico_next.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  content: '';
}
.button:active{
  box-shadow: none;
  -webkit-transform: translateY(6px) !important;
      -ms-transform: translateY(6px) !important;
          transform: translateY(6px) !important;
}
.button--white{
  -ms-flex-pack: start;
  margin-top: 25px;
  padding: .9em 3.5em 1.1em 2.5em;
  height: auto;
  background-color: #fff;
  box-shadow: 0 6px 0 #e5568c;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;

  justify-content: flex-start;
}
.button--white:link,
.button--white:visited{
  color: #d70056;
}
.button--white::before{
  background-image: url(../images/cnt_ico_next-red.svg);
}
.button--red{
  -ms-flex-pack: start;
  margin-top: 25px;
  padding: .9em 3.5em 1.1em 2.5em;
  height: auto;
  background-color: #e9607c;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;

  justify-content: flex-start;
}
.button--red:link,
.button--red:visited{
  color: #fff;
}
.button--red::before{
  background-image: url(../images/cnt_ico_next.svg);
}
.button--yellow{
  -ms-flex-pack: start;
  margin-top: 25px;
  padding: .9em 3.5em 1.1em 2.5em;
  height: auto;
  background-color: #f8b616;
  box-shadow: 0 6px 0 #dd8319;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;

  justify-content: flex-start;
}
.button--yellow:link,
.button--yellow:visited{
  color: #fff;
}
.button--yellow::before{
  background-image: url(../images/cnt_ico_next.svg);
}
.button--anc{
  margin-top: 70px;
  height: 64px;
  background-image: linear-gradient(90deg, #ff6ea6 0%, #f9c110 100%);
  box-shadow: 0 6px 0 #d70056;
}
.button--anc::after{
  content: none;
}
.button--anc::before{
  right: 28px;
  width: 23px;
  background-image: url(../images/cnt_ico_next.svg);
  content: '';
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.caption{
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.5;
}

.mv{
  position: relative;
  z-index: -1;
}

.closed{
  padding: 2.5em 0;
  background-color: #d70056;
}
.closed p{
  color: #fff;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  font-size: 2rem;
  line-height: 2;
}
.sec{
  position: relative;
}
.sec .inner{
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: calc(900px + 30px);
  width: 100%;
}

/* ----------------------------------------------------------------
  LP
---------------------------------------------------------------- */
.intro-title{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin-top: 55px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: calc(900px + 30px);
  width: 100%;

  align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  justify-content: center;
}
.intro-title .intro-title__main{
  -ms-flex-order: 2;
  margin: 0 .6%;
  max-width: 413px;
  width: 82.6%;

  order: 2;
}
.intro-title .intro-title__left,
.intro-title .intro-title__right{
  max-width: 40px;
  width: 8.1%;
  height: auto;
}
.intro-title .intro-title__left img,
.intro-title .intro-title__right img{
  margin-bottom: 3px;
}
.intro-title .intro-title__left{
  -ms-flex-order: 1;

  order: 1;
}
.intro-title .intro-title__right{
  -ms-flex-order: 3;

  order: 3;
}
.sec-intro{
  position: relative;
  z-index: 1;
  margin-top: 3vw;
  padding-top: 22vw;
  padding-bottom: 150px;
  background-image: linear-gradient(#ffd0d3 0%, #ffd0d3 10%, #fff 100%);
}
.sec-intro .subject-bg{
  position: absolute;
  top: min(61px, 10.5vw + 11px);
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(100% - min(61px, 10.5vw + 11px));
  background-color: #fff;
}
.sec-intro .subject-bg .bg-kei-h,
.sec-intro .subject-bg .bg-kei-b{
  position: absolute;
  left: 0;
  width: 100%;
  height: 11px;
  content: '';
}
.sec-intro .subject-bg .bg-kei-h::before,
.sec-intro .subject-bg .bg-kei-h::after,
.sec-intro .subject-bg .bg-kei-b::before,
.sec-intro .subject-bg .bg-kei-b::after{
  position: absolute;
  z-index: -1;
  width: 11px;
  height: 11px;
  background-image: url(../images/bg-subject.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  content: '';
}
.sec-intro .subject-bg .bg-kei-h span,
.sec-intro .subject-bg .bg-kei-b span{
  position: absolute;
  left: 11px;
  width: calc(100% - 22px);
  height: 11px;
  background-color: #fff;
}
.sec-intro .subject-bg .bg-kei-h{
  top: -11px;
}
.sec-intro .subject-bg .bg-kei-h::before,
.sec-intro .subject-bg .bg-kei-h::after{
  top: 0;
}
.sec-intro .subject-bg .bg-kei-h::before{
  left: 0;
}
.sec-intro .subject-bg .bg-kei-h::after{
  right: 0;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.sec-intro .subject-bg .bg-kei-h span{
  top: 0;
}
.sec-intro .subject-bg .bg-kei-b{
  bottom: -11px;
}
.sec-intro .subject-bg .bg-kei-b::before,
.sec-intro .subject-bg .bg-kei-b::after{
  bottom: 0;
}
.sec-intro .subject-bg .bg-kei-b::before{
  left: 0;
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);
}
.sec-intro .subject-bg .bg-kei-b::after{
  right: 0;
  -webkit-transform: scale(-1, -1);
      -ms-transform: scale(-1, -1);
          transform: scale(-1, -1);
}
.sec-intro .subject-bg .bg-kei-b span{
  bottom: 0;
}
.sec-intro::before{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 22vw;
  background-color: #fff;
  background-image: url(../images/bg-intro.png);
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  content: '';
}
.sec-intro::after{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 47px;
  background-image: url(../images/bg-intro-bottom-s.svg);
  background-position: center bottom;
  background-size: auto 100%;
  background-repeat: repeat-x;
  content: '';
  -webkit-animation: roop-ani 8s linear infinite;
          animation: roop-ani 8s linear infinite;
}
.sec-intro .subject{
  position: relative;
  z-index: 1;
  overflow-y: visible;
  padding: 0 30px 50px;
}
.sec-intro .subject::before,
.sec-intro .subject::after{
  position: absolute;
  bottom: -11px;
  left: 0;
  z-index: -1;
  width: 11px;
  height: 11px;
  background-image: url(../images/bg-subject.svg);
  background-position: left top;
  background-size: 100%;
  background-repeat: no-repeat;
  content: '';
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);
}
.sec-intro .subject::after{
  right: 0;
  left: auto;
  background-position: right top;
  -webkit-transform: scale(-1, -1);
      -ms-transform: scale(-1, -1);
          transform: scale(-1, -1);
}
.sec-intro .subject .subject__title{
  position: relative;
  z-index: 1;
  margin-right: -30px;
  margin-left: -30px;
  text-align: center;
}
.sec-intro .subject .subject__title img{
  max-width: 400px;
  width: 88.4%;
}
.sec-intro .subject .subject__num{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  -ms-flex-align: center;
  margin-top: 28px;
  -webkit-column-gap: 8px;
          column-gap: 8px;

  align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  justify-content: flex-start;
}
.sec-intro .subject .subject__num:not(:first-of-type){
  margin-top: 60px;
}
.sec-intro .subject .subject__num span{
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  padding: 0 18px;
  height: 38px;
  border-radius: 19px;
  background-color: #f8b616;
  color: #d70056;
  white-space: nowrap;
  letter-spacing: .1em;
  font-weight: 600;
  font-size: 16px;
  font-size: 1.6rem;

  align-items: center;
  justify-content: center;
}
.sec-intro .subject .subject__num::after{
  width: 100%;
  height: 1px;
  background-color: #d70056;
  content: '';
}
.sec-intro .subject .subject__item{
  margin-top: 20px;
}
.sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title{
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.8rem;
}
.sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title .ivo{
  display: block;
}
.sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title .f1{
  display: inline-block;
  margin: 5px 3px;
  padding: 2px 8px;
  border: 1px solid #d70056;
  border-radius: 4px;
  color: #d70056;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 1.47;
}
.sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title .img{
  margin: 12px 0 16px;
  text-align: center;
  line-height: 1;
}
.sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title .img img{
  width: 24px;
  line-height: 1;
}
.sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title em{
  font-weight: 900;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.45;
}
.sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title em small{
  font-size: 75%;
}
.sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__text{
  margin-top: 15px;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
}
.sec-intro .subject .subject__item .subject__item__image{
  margin-top: 24px;
  text-align: center;
}
.sec-intro .subject .subject__item .subject__item__image img{
  max-width: 350px;
  width: 88%;
}
.sec-intro .notes{
  margin-top: 30px;
  color: #d70056;
  font-weight: 600;
  font-size: 16px;
  font-size: 1.6rem;
}
.sec-present-outline{
  background-color: #fff7e2;
}
.sec-present-outline .inner{
  padding-top: 60px;
  padding-bottom: 115px;
}
.sec-present-outline .present-outline-head{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -ms-flex-align: stretch;
  margin: 0 auto;
  max-width: 400px;

  align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  justify-content: center;
}
.sec-present-outline .present-outline-head .present-outline-head__title{
  -ms-flex-order: 2;
  margin: 0 2.15%;

  flex-basis: 48.7%;
  -ms-flex-preferred-size: 48.7%;
  order: 2;
}
.sec-present-outline .present-outline-head .present-outline-head__title .present-outline-head__title__sub{
  width: 100%;
}
.sec-present-outline .present-outline-head .present-outline-head__title .present-outline-head__title__main{
  margin: min(12px, 3vw) auto 0;
  width: 94.6%;
}
.sec-present-outline .present-outline-head .present-outline-head__left{
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-order: 1;
  -ms-flex-align: end;

  align-items: flex-end;
  flex-basis: 23.5%;
  -ms-flex-preferred-size: 23.5%;
  order: 1;
}
.sec-present-outline .present-outline-head .present-outline-head__right{
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-order: 3;
  -ms-flex-align: end;

  align-items: flex-end;
  flex-basis: 23.5%;
  -ms-flex-preferred-size: 23.5%;
  order: 3;
}
.sec-present-outline .present-prize .present-prize__block{
  position: relative;
  z-index: 1;
  margin-top: 19.4%;
  padding-top: 14vw;
  padding-bottom: 25px;
}
.sec-present-outline .present-prize .present-prize__block .bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
  background-color: rgba(0, 0, 0, .4);
  background-image: linear-gradient(45deg, #006eba 0%, #166cb6 6.71%, #366bb2 14.47%, #ca3962 38.56%, #cf3360 42.67%, #dd225d 48.04%, #e41b5c 50%, #e5354d 56.86%, #e74c41 63.93%, #ee7f29 73.8%, #f3a219 79.98%, #f6b413 90.33%, #f9c110 100%);
}
.sec-present-outline .present-prize .present-prize__block .bg::before{
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -1;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border-radius: 8px;
  background-color: #fff;
  content: '';
}
.sec-present-outline .present-prize .present-prize__block .present-prize__block__title{
  position: absolute;
  top: -11.2vw;
  left: 50%;
  margin: 0 auto;
  max-width: 302px;
  width: 87.5%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.sec-present-outline .present-prize .present-prize__block .present-prize__block__name{
  display: block;
  padding: 0 28px;
  font-weight: 900;
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.5;
}
.sec-present-outline .present-prize .present-prize__block .present-prize__block__name-sub{
  display: block;
  margin-bottom: 10px;
  padding: 0 28px;
  font-weight: 600;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.45;
}
.sec-present-outline .present-prize .present-prize__block .present-prize__block__text{
  padding: 0 28px;
}
.sec-present-outline .present-prize .present-prize__block .present-prize__block__image{
  margin: 18px auto 0;
  padding: 0 28px;
  max-width: 378px;
}
.sec-present-outline .present-prize .present-prize__block .present-prize__block__image figcaption{
  margin-top: 10px;
}
.sec-present-outline .present-prize .present-prize__block--B{
  margin-top: 17.5%;
}
.sec-present-outline .present-prize .present-prize__block--B .present-prize__block__image{
  margin-top: 0;
  max-width: 332px;
}
.sec-about-application{
  position: relative;
  padding: 50px 0 80px;
  background-color: #ffd0d3;
  background-image: url(../images/bg-about-application.jpg);
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
}
.sec-about-application::before{
  position: absolute;
  top: -47px;
  left: 0;
  width: 100%;
  height: 47px;
  background-image: url(../images/bg-application-bottom-s.svg);
  background-position: center bottom;
  background-size: auto 100%;
  background-repeat: repeat-x;
  content: '';
  -webkit-animation: roop-ani 8s linear infinite;
          animation: roop-ani 8s linear infinite;
}
.sec-about-application .application-title{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  margin-bottom: 14px;
  padding-right: 29px;
  padding-left: 48px;
  height: 98px;
  border-radius: 49px;
  background-color: #fff;

  align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  justify-content: space-between;
}
.sec-about-application .application-title::before{
  position: absolute;
  bottom: -14px;
  left: 50%;
  width: 29px;
  height: 14px;
  background-image: url(../images/ico-arrow-white.svg);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.sec-about-application .application-title .text{
  width: auto;
  height: 27px;
}
.sec-about-application .application-title .icon-application-title img{
  width: 75px;
}
.sec-about-application .application-title.title-outline{
  margin-top: 80px;
  padding-left: 30px;
}
.sec-about-application .application-title.title-outline .icon-application-title img{
  width: 63px;
}
.sec-about-application .subject .subject__item{
  position: relative;
  margin-top: 70px;
  border-radius: 0 0 8px 8px;
  text-align: center;
}
.sec-about-application .subject .subject__item:first-of-type{
  margin-top: 45px;
}
.sec-about-application .subject .subject__item .subject__item__head{
  padding-top: 40px;
  background-image: url(../images/bg-application-subject-item.png);
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
}
.sec-about-application .subject .subject__item .subject__num{
  margin-top: 0;
}
.sec-about-application .subject .subject__item .subject__num:not(:first-of-type){
  margin-top: 60px;
}
.sec-about-application .subject .subject__item .subject__num span{
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  padding: 0 18px;
  height: 38px;
  border-radius: 19px;
  background-color: #f8b616;
  color: #d70056;
  white-space: nowrap;
  letter-spacing: .1em;
  font-weight: 600;
  font-size: 16px;
  font-size: 1.6rem;

  align-items: center;
  justify-content: center;
}
.sec-about-application .subject .subject__item .subject__title{
  margin: 18px 16px 0;
  padding: 0 0 18px;
  color: #fff;
  font-weight: 900;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.5;
}
.sec-about-application .subject .subject__item .subject__line{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 32px);
  height: 1px;
  background-color: #fff;
}
.sec-about-application .subject .subject__item .subject__text{
  position: relative;
  margin-top: 18px;
  padding: 0 16px 20px 45px;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}
.sec-about-application .subject .subject__item .subject__text::before{
  position: absolute;
  top: 3px;
  left: 16px;
  width: 22px;
  height: 100%;
  background-image: url(../images/ico-check-mark.svg);
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  content: '';
}
.sec-about-application .subject .subject__item .subject__flow{
  border-radius: 0 0 8px 8px;
  background-color: #fff;
  text-align: left;
}
.sec-about-application .subject .subject__item .subject__flow li{
  position: relative;
  padding: 20px 16px 40px 65px;
  background-image: url(../images/bg-subject-flow-li.svg);
  background-position: center bottom;
  background-size: auto;
  background-repeat: no-repeat;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.6;
}
.sec-about-application .subject .subject__item .subject__flow li:last-of-type{
  padding-bottom: 30px;
  background-image: none;
}
.sec-about-application .subject .subject__item .subject__flow .num{
  position: absolute;
  top: 15px;
  left: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  background-color: #d70056;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.8rem;

  align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  justify-content: center;
}
.sec-about-application .subject .subject__item .subject__flow .button{
  -ms-flex-pack: start;
  margin-top: 20px;
  padding-left: 34px;

  justify-content: flex-start;
}
.sec-about-application .application-rules{
  margin-top: 45px;
}
.application-rules .application-rules__title{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  width: 100%;
  height: 110px;
  border-radius: 10px;
  background-image: linear-gradient(90deg, #006eba 0%, #166cb6 6.71%, #366bb2 14.47%, #ca3962 38.56%, #cf3360 42.67%, #dd225d 48.04%, #e41b5c 50%, #e5354d 56.86%, #e74c41 63.93%, #ee7f29 73.8%, #f3a219 79.98%, #f6b413 90.33%, #f9c110 100%);
  color: #fff;
  text-align: center;
  letter-spacing: .1em;
  font-weight: 900;
  font-size: 24px;
  font-size: 2.4rem;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1;
  cursor: pointer;

  align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  justify-content: center;
}
.application-rules .application-rules__title::after{
  position: absolute;
  top: 50%;
  right: 21px;
  width: 26px;
  height: 26px;
  background-image: url(../images/icon-plus.svg);
  background-size: 100%;
  content: '';
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.application-rules .application-rules__title .button-tex{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;

  align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  justify-content: center;
}
.application-rules .application-rules__title .button-tex .text-active{
  display: none;
}
.application-rules .application-rules__title .button-tex img{
  display: block;
  margin-top: 8px;
  margin-bottom: -12px;
  width: 62px;
}
.application-rules .application-rules__title.is-active{
  border-radius: 10px 10px 0 0;
}
.application-rules .application-rules__title.is-active::after{
  background-image: url(../images/icon-minus.svg);
}
.application-rules .application-rules__title.is-active .button-tex .text-passive{
  display: none;
}
.application-rules .application-rules__title.is-active .button-tex .text-active{
  display: block;
}
.application-rules .application-rules__data{
  padding: 19px 17px;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
}
.application-rules .application-rules__data .application-rules__data__list dt{
  position: relative;
  padding-left: 28px;
  color: #d70056;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.8rem;
}
.application-rules .application-rules__data .application-rules__data__list dt:not(:first-of-type){
  margin-top: 15px;
}
.application-rules .application-rules__data .application-rules__data__list dt::before{
  position: absolute;
  top: 4px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #d70056;
  border-radius: 50%;
  content: '';
}
.application-rules .application-rules__data .application-rules__data__list dd{
  margin-top: 2px;
}
.application-rules .application-rules__data .application-rules__data__list dd em{
  display: block;
  font-weight: normal;
  font-size: 18px;
  font-size: 1.8rem;
}
.application-rules .application-rules__data .application-rules__data__list dd .notes{
  margin-top: 5px;
}
.application-rules .application-rules__data .application-rules__data__list dd .list-disc{
  margin: .5em auto 0;
}
.application-others{
  margin-top: 20px;
}
.application-others .application-others__title{
  position: relative;
  overflow: hidden;
  padding: 15px 30px;
  border-radius: 10px 10px 0 0;
  background-color: #d70056;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-size: 2rem;
}
.application-others .application-others__title span{
  display: block;
}
.application-others .application-others__title::before{
  position: absolute;
  top: 0;
  right: -6%;
  width: 31%;
  height: 100%;
  background-color: #ffa0b6;
  content: '';
  -webkit-transform: skew(30deg);
      -ms-transform: skew(30deg);
          transform: skew(30deg);
}
.application-others .application-others__data{
  padding: 15px 16px 20px;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
}
.application-others .application-others__data .data-date{
  color: #d70056;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.8rem;
}
.application-others .application-others__data .data-date em{
  font-size: 24px;
  font-size: 2.4rem;
}
.application-others .application-others__data .data-text{
  margin-top: 5px;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.46;
}

.deadline .application-others__data{
  padding-top: 5px;
}
.deadline .application-others__data .deadline-item .subject__num{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  -ms-flex-align: center;
  margin-top: 20px;
  -webkit-column-gap: 8px;
          column-gap: 8px;

  align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  justify-content: flex-start;
}
.deadline .application-others__data .deadline-item .subject__num span{
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  padding: 0 18px;
  height: 38px;
  border-radius: 19px;
  background-color: #f8b616;
  color: #d70056;
  white-space: nowrap;
  letter-spacing: .1em;
  font-weight: 600;
  font-size: 16px;
  font-size: 1.6rem;

  align-items: center;
  justify-content: center;
}
.deadline .application-others__data .deadline-item .subject__num::after{
  width: 100%;
  height: 1px;
  background-color: #d70056;
  content: '';
}
.deadline .application-others__data .deadline-item .deadline-item__title{
  margin-top: 15px;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.8rem;
}
.information{
  position: relative;
}
.information::before{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #006eba 0%, #166cb6 6.71%, #366bb2 14.47%, #ca3962 38.56%, #cf3360 42.67%, #dd225d 48.04%, #e41b5c 50%, #e5354d 56.86%, #e74c41 63.93%, #ee7f29 73.8%, #f3a219 79.98%, #f6b413 90.33%, #f9c110 100%);
  background-size: 200%;
  content: '';
  opacity: .3;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)';
}
.information .inner{
  margin-right: auto;
  margin-left: auto;
  padding-top: 70px;
  padding-right: 15px;
  padding-right: 32px;
  padding-bottom: 80px;
  padding-left: 15px;
  padding-left: 32px;
  max-width: calc(900px + 30px);
  width: 100%;
}
.information .information__title{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -ms-flex-align: end;
  color: #d70056;
  text-align: center;
  letter-spacing: .1em;
  font-weight: 600;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.5;
  -webkit-column-gap: 10px;
          column-gap: 10px;

  align-items: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  justify-content: center;
}
.information .information__title::before,
.information .information__title::after{
  width: 33px;
  height: 46px;
  background-image: url(../images/bg-other-title.svg);
  background-repeat: no-repeat;
  content: '';
}
.information .information__title::after{
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.information .button-wrap{
  margin-top: 32px;
}
.information .sns{
  margin-top: 40px;
}
.sec-oheyaplus{
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-top: 38px;
  background-color: #ffd0d3;
}
.sec-oheyaplus .oheyaplus-arrow{
  position: absolute;
  top: 8px;
  left: calc(50% - 27px);
  width: 54px;
  height: 88px;
  background-image: url(../images/ico-3arrow.svg);
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.sec-oheyaplus .bg-oheyaplus-circle{
  position: absolute;
  bottom: calc(-100% - 55px);
  left: -120%;
  z-index: -1;
  width: 340%;
  height: 200%;
  border-radius: 100%;
  background-color: #fff7e2;
}
.sec-oheyaplus .inner{
  padding: 120px 32px 90px;
}
.sec-oheyaplus .oheyaplus-image{
  text-align: center;
}
.sec-oheyaplus .oheyaplus-image img{
  max-width: 187px;
  width: 60%;
}
.sec-oheyaplus .oheyaplus-data{
  margin-top: 40px;
}
.sec-oheyaplus .oheyaplus-data .oheyaplus-data__title{
  width: 266px;
}
.sec-oheyaplus .oheyaplus-data .oheyaplus-data__text{
  margin-top: 20px;
  line-height: 1.5;
}
.sec-oheyaplus .oheyaplus-data .button-wrap{
  margin-top: 35px;
}
.sec-oheyaplus .oheyaplus-data .button-wrap .button--yellow{
  margin-top: 0;
}
.sec-oheyaplus .oheyaplus-data .button-wrap .button--red{
  margin-top: 30px;
}
@media only screen and (min-width: 768px){
  .pc{
    display: inline;
  }
  .sp{
    display: none;
  }
  a img{
    transition: opacity .1s linear 0s;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  a img:hover{
    opacity: .7;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
  }
  .header{
    height: 80px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  }
  .header .header__inner{
    padding-right: 40px;
    padding-left: 40px;
  }
  .header .header__inner .logo-housemate-navi img{
    width: 195px;
  }
  .header .header__inner .logo-housemate img{
    width: 178px;
  }
  main+ .footer{
    margin-top: 126px;
  }
  .footer .footer__inner{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -ms-flex-align: center;
    padding: 0 25px 0 35px;
    height: 60px;

    align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    justify-content: space-between;
  }
  .footer .footer__inner .logo{
    width: 142px;
  }
  .footer .footer__inner .copyright{
    margin-top: 0;
    font-size: 1.4rem;
    line-height: 1;
  }
  .footer .footer__inner .copyright br{
    display: none;
  }
  .button{
    margin-top: 100px;
    max-width: 500px;
    font-size: 2rem;
  }
  .button--white{
    -ms-flex-pack: center;
    margin-top: 35px;
    padding-right: 3em;
    padding-left: 3em;
    max-width: 696px;

    justify-content: center;
  }
  .button--red{
    margin-top: 25px;
    padding: 1.2em 3.5em 1.3em 2.5em;
    font-size: 1.6rem;
  }
  .button--yellow{
    margin-top: 25px;
    padding: 1.2em 3.5em 1.3em 2.5em;
    font-size: 1.6rem;
  }
  .button--anc{
    margin-top: 80px;
    max-width: 592px;
    height: 100px;
    border-radius: 50px;
    font-size: 2.4rem;
  }
  .button--anc::before{
    right: 48px;
    width: 40px;
  }
  .closed{
    padding: 3em 0;
  }
  .closed p{
    font-size: 3rem;
  }
  .sec .inner{
    padding-right: 50px;
    padding-left: 50px;
    max-width: calc(900px + 100px);
  }
  .intro-title{
    padding-right: 50px;
    padding-left: 50px;
    max-width: calc(900px + 100px);
  }
  .intro-title{
    margin-top: 60px;
  }
  .intro-title .intro-title__main{
    margin: 0 4.5%;
    max-width: 524px;
    width: 72%;
  }
  .intro-title .intro-title__left,
  .intro-title .intro-title__right{
    max-width: 66px;
    width: 9%;
  }
  .intro-title .intro-title__left img,
  .intro-title .intro-title__right img{
    margin-bottom: 0;
  }
  .sec-intro{
    margin-top: 46px;
    padding-bottom: 185px;
    background-image: linear-gradient(#ffd0d3 0%, #ffd0d3 28vw, #fff 100%);
  }
  .sec-intro .inner{
    margin-top: -8vw;
  }
  .sec-intro .subject-bg{
    top: min(76px, 6vw + 24px);
    height: calc(100% - min(76px, 6vw + 24px));
  }
  .sec-intro .subject-bg .bg-kei-h,
  .sec-intro .subject-bg .bg-kei-b{
    height: 24px;
  }
  .sec-intro .subject-bg .bg-kei-h::before,
  .sec-intro .subject-bg .bg-kei-h::after,
  .sec-intro .subject-bg .bg-kei-b::before,
  .sec-intro .subject-bg .bg-kei-b::after{
    width: 24px;
    height: 24px;
  }
  .sec-intro .subject-bg .bg-kei-h span,
  .sec-intro .subject-bg .bg-kei-b span{
    left: 24px;
    width: calc(100% - 48px);
    height: 24px;
  }
  .sec-intro .subject-bg .bg-kei-h{
    top: -24px;
  }
  .sec-intro .subject-bg .bg-kei-b{
    bottom: -24px;
  }
  .sec-intro::after{
    height: 60px;
    background-image: url(../images/bg-intro-bottom-l.svg);
    -webkit-animation: roop-ani-l 15s linear infinite;
            animation: roop-ani-l 15s linear infinite;
  }
  .sec-intro .subject{
    padding: 0 69px 14px;
  }
  .sec-intro .subject .subject__title{
    margin-right: -69px;
    margin-left: -69px;
  }
  .sec-intro .subject .subject__title img{
    max-width: 696px;
    width: 90%;
  }
  .sec-intro .subject .subject__num{
    margin-top: 55px;
    -webkit-column-gap: 9px;
            column-gap: 9px;
  }
  .sec-intro .subject .subject__num:not(:first-of-type){
    margin-top: 50px;
  }
  .sec-intro .subject .subject__item{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -ms-flex-align: stretch;
    margin-top: 25px;

    align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    justify-content: space-between;
  }
  .sec-intro .subject .subject__item .subject__item__contents{
    flex-basis: 64.4%;
    -ms-flex-preferred-size: 64.4%;
  }
  .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title{
    text-align: left;
    font-size: min(1.9vw, 1.8rem);
  }
  .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title .f1{
    margin: 0 4px;
    font-size: min(1.9vw, 1.8rem);
  }
  .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title .img{
    margin: 18px 0 10px;
    width: 100%;
  }
  .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title .img img{
    width: 25px;
  }
  .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title em{
    font-size: 3rem;
    line-height: 1.5;
  }
  .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title em small{
    font-size: 66.667%;
  }
  .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__text{
    margin-top: 5px;
  }
  .sec-intro .subject .subject__item .subject__item__image{
    margin-top: 0;

    flex-basis: 35.6%;
    -ms-flex-preferred-size: 35.6%;
  }
  .sec-intro .subject .subject__item .subject__item__image img{
    max-width: 268px;
    width: 100%;
  }
  .sec-intro .subject .subject__item:last-of-type .subject__item__contents .subject__item__contents__title em{
    line-height: 1.9;
  }
  .sec-intro .subject .subject__item:last-of-type .subject__item__image img{
    max-width: 271px;
  }
  .sec-intro .notes{
    margin-top: 40px;
    padding: 0 69px;
  }
  .sec-about-application{
    padding: 84px 0 120px;
    background-image: url(../images/bg-about-application-l.jpg);
  }
  .sec-about-application::before{
    top: -60px;
    height: 60px;
    background-image: url(../images/bg-application-bottom-l.svg);
    -webkit-animation: roop-ani-l 15s linear infinite;
            animation: roop-ani-l 15s linear infinite;
  }
  .sec-about-application .application-title{
    -ms-flex-pack: center;
    margin-bottom: 22px;
    padding-right: 0;
    padding-left: 0;
    height: 120px;
    border-radius: 60px;

    justify-content: center;
  }
  .sec-about-application .application-title::before{
    bottom: -22px;
    width: 36px;
    height: 22px;
    background-image: url(../images/ico-arrow-white-l.svg);
  }
  .sec-about-application .application-title .text{
    height: 37px;
  }
  .sec-about-application .application-title .icon-application-title{
    position: absolute;
    right: 45px;
    bottom: 19px;
  }
  .sec-about-application .application-title .icon-application-title img{
    width: 198px;
  }
  .sec-about-application .application-title.title-outline{
    margin-top: 102px;
    padding-left: 0;
  }
  .sec-about-application .application-title.title-outline .icon-application-title{
    right: 62px;
    bottom: 16px;
  }
  .sec-about-application .application-title.title-outline .icon-application-title img{
    width: 143px;
  }
  .sec-about-application .subject{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -ms-flex-align: start;
    margin-top: 50px;

    align-items: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    justify-content: space-between;
  }
  .sec-about-application .subject .subject__item{
    margin-top: 0;

    flex-basis: 48.667%;
    -ms-flex-preferred-size: 48.667%;
  }
  .sec-about-application .subject .subject__item:first-of-type{
    margin-top: 0;
  }
  .sec-about-application .subject .subject__item .subject__item__head{
    padding-top: 52px;
  }
  .sec-about-application .subject .subject__item .subject__num:not(:first-of-type){
    margin-top: 0;
  }
  .sec-about-application .subject .subject__item .subject__title{
    margin: 25px 21px 0;
    padding: 0 0 25px;
    font-size: 2.8rem;
  }
  .sec-about-application .subject .subject__item .subject__line{
    width: calc(100% - 42px);
  }
  .sec-about-application .subject .subject__item .subject__text{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -ms-flex-align: stretch;
    margin-top: 0;
    padding: 25px 21px;
    min-height: 6.125em;
    -webkit-column-gap: 9px;
            column-gap: 9px;

    align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    justify-content: center;
  }
  .sec-about-application .subject .subject__item .subject__text::before{
    position: relative;
    top: auto;
    left: auto;
    width: 28px;
    height: 22px;
  }
  .sec-about-application .subject .subject__item .subject__flow li{
    padding: 30px 21px 50px 85px;
  }
  .sec-about-application .subject .subject__item .subject__flow li:last-of-type{
    padding-bottom: 40px;
  }
  .sec-about-application .subject .subject__item .subject__flow .num{
    top: 21px;
    left: 21px;
    width: 48px;
    height: 48px;
    font-size: 2.4rem;
  }
  .sec-about-application .subject .subject__item .subject__flow .button{
    margin-top: 20px;
    padding-left: 38px;
    font-size: 1.6rem;
  }
  .sec-about-application .subject .subject__item:last-of-type .subject__text{
    -ms-flex-align: center;

    align-items: center;
  }
  .sec-about-application .subject .subject__item:last-of-type .subject__flow li{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    -ms-flex-align: center;
    padding: 20px 21px 40px;

    align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .sec-about-application .subject .subject__item:last-of-type .subject__flow li:last-of-type{
    padding-bottom: 30px;
  }
  .sec-about-application .subject .subject__item:last-of-type .subject__flow .num{
    position: relative;
    top: auto;
    left: auto;
    margin-right: 16px;
  }
  .sec-about-application .application-rules{
    margin-top: 45px;
  }
  .application-rules .application-rules__title{
    height: 120px;
  }
  .application-rules .application-rules__title::after{
    right: 30px;
    width: 34px;
    height: 34px;
  }
  .application-rules .application-rules__title .button-tex{
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .application-rules .application-rules__title .button-tex span{
    margin-left: 78px;
  }
  .application-rules .application-rules__title .button-tex img{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 14px;
    width: 78px;
  }
  .application-rules .application-rules__data{
    padding: 55px 100px;
  }
  .application-rules .application-rules__data .application-rules__data__list dt:not(:first-of-type){
    margin-top: 20px;
  }
  .application-rules .application-rules__data .application-rules__data__list dd{
    margin-top: 4px;
  }
  .application-rules .application-rules__data .application-rules__data__list dd .notes{
    margin-top: 7px;
  }
  .application-others{
    margin-top: 30px;
  }
  .application-others .application-others__title::before{
    width: 78%;
  }
  .application-others .application-others__data{
    padding: 15px 50px 20px;
  }
  .application-others .application-others__data .data-date{
    font-size: 2rem;
  }
  .application-others .application-others__data .data-date em{
    font-size: 3rem;
  }
  .application-others .application-others__data .data-text{
    margin-top: 5px;
  }
  .contract .application-others__data{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    -ms-flex-align: center;

    align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .contract .application-others__data .data-date{
    margin: 0 24px 0 0;

    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .contract .application-others__data .data-text{
    margin: 0;
  }
  .deadline .application-others__data{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -ms-flex-align: stretch;
    padding-top: 30px;
    padding-bottom: 25px;

    align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    justify-content: space-between;
  }
  .deadline .application-others__data .deadline-item{
    flex-basis: 46.75%;
    -ms-flex-preferred-size: 46.75%;
  }
  .deadline .application-others__data .deadline-item .subject__num{
    margin-top: 0;
  }
  .deadline .application-others__data .deadline-item .deadline-item__title{
    margin-top: 20px;
    font-size: 2rem;
  }
  .deadline .application-others__data .deadline-item .data-date{
    display: inline-block;
    margin-right: 12px;
  }
  .deadline .application-others__data .deadline-item .data-text{
    display: inline-block;
    margin-top: 0;
  }
  .information .inner{
    padding-right: 50px;
    padding-left: 50px;
    max-width: calc(900px + 100px);
  }
  .information .inner{
    padding-top: 105px;
    padding-right: 0;
    padding-bottom: 120px;
    padding-left: 0;
  }
  .information .information__title{
    font-size: 2.4rem;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .information .sns{
    margin-top: 60px;
  }
  .sec-oheyaplus{
    padding-top: 28px;
    background-size: 100% 212px;
  }
  .sec-oheyaplus .oheyaplus-arrow{
    top: 20px;
  }
  .sec-oheyaplus .bg-oheyaplus-circle{
    bottom: calc(-100% - 70px);
    left: -38%;
    width: 176%;
  }
  .sec-oheyaplus .inner{
    padding: 250px 0 120px;
  }
  .sec-oheyaplus .oheyaplus-wrap{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -ms-flex-align: stretch;
    margin: 0 auto;
    max-width: 696px;
    width: 77.333%;

    align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    justify-content: center;
  }
  .sec-oheyaplus .oheyaplus-image{
    -ms-flex: 0 0 187px;
        flex: 0 0 187px;
  }
  .sec-oheyaplus .oheyaplus-image img{
    width: 100%;
  }
  .sec-oheyaplus .oheyaplus-data{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: end;
    -ms-flex-align: stretch;
    margin-top: 0;
    margin-left: 57px;

    align-items: stretch;
    flex-basis: calc(100% - 187px);
    -ms-flex-preferred-size: calc(100% - 187px);
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    justify-content: flex-end;
  }
  .sec-oheyaplus .oheyaplus-data .oheyaplus-data__text{
    margin-top: 30px;
  }
  .sec-oheyaplus .oheyaplus-data .button-wrap{
    margin-top: auto;
    margin-bottom: 6px;
  }
  .sec-oheyaplus .oheyaplus-data .button-wrap .button{
    -ms-flex-pack: center;
    margin-right: 0;
    margin-left: 0;
    width: 93%;
    white-space: nowrap;

    justify-content: center;
  }
  .sec-oheyaplus .oheyaplus-data .button-wrap .button--yellow{
    margin-top: 0;
  }
  .sec-oheyaplus .oheyaplus-data .button-wrap .button--red{
    margin-top: 30px;
    height: 64px;
  }
}
@media only screen and (min-width: 768px) and (min-width: 900px){
  .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title .img{
    width: 72%;
  }
}
@media only screen and (min-width: 376px){
  .sec-present-outline .present-prize .present-prize__block{
    margin-top: 67px;
    padding-top: 50px;
  }
  .sec-present-outline .present-prize .present-prize__block .present-prize__block__title{
    top: -42px;
    left: calc(50% - 151px);
    width: auto;
    height: 84px;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .sec-present-outline .present-prize .present-prize__block--B{
    margin-top: 56px;
  }
}
@media only screen and (min-width: 376px) and (min-width: 768px){
  .sec-present-outline{
    position: relative;
  }
  .sec-present-outline .sec-present-outline-bg-l{
    position: absolute;
    top: 0;
    left: 0;
    width: calc((100% - 900px) / 2);
    height: 1226px;
    background-image: url(../images/bg-present-outline-left.png);
    background-position: right 30px top 506px;
    background-size: 135px;
    background-repeat: no-repeat;
  }
  .sec-present-outline .sec-present-outline-bg-r{
    position: absolute;
    top: 0;
    right: 0;
    width: calc((100% - 900px) / 2);
    height: 1040px;
    background-image: url(../images/bg-present-outline-right.png);
    background-position: left 46px top 310px;
    background-size: 114px;
    background-repeat: no-repeat;
  }
  .sec-present-outline .inner{
    padding-top: 89px;
    padding-bottom: 160px;
  }
  .sec-present-outline .present-outline-head{
    -ms-flex-align: end;
    max-width: 719px;
    width: 80%;

    align-items: flex-end;
  }
  .sec-present-outline .present-outline-head .present-outline-head__title{
    margin: 0 2% min(8px, 1.5%);

    flex-basis: 51%;
    -ms-flex-preferred-size: 51%;
  }
  .sec-present-outline .present-outline-head .present-outline-head__title .present-outline-head__title__sub{
    margin: 0 auto;
    width: 93%;
  }
  .sec-present-outline .present-outline-head .present-outline-head__title .present-outline-head__title__main{
    margin-top: min(19px, 2vw);
    width: 100%;
  }
  .sec-present-outline .present-outline-head .present-outline-head__left{
    flex-basis: 22.5%;
    -ms-flex-preferred-size: 22.5%;
  }
  .sec-present-outline .present-outline-head .present-outline-head__right{
    flex-basis: 22.5%;
    -ms-flex-preferred-size: 22.5%;
  }
  .sec-present-outline .present-prize{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -ms-flex-align: stretch;

    align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    justify-content: space-between;
  }
  .sec-present-outline .present-prize .present-prize__block{
    margin-top: 75px;
    padding-top: 8%;
    padding-bottom: 25px;

    flex-basis: 48.667%;
    -ms-flex-preferred-size: 48.667%;
  }
  .sec-present-outline .present-prize .present-prize__block .present-prize__block__title{
    top: clamp(-5.1vw, -55px, -55px);
    left: 50%;
    max-width: none;
    width: 89.5%;
    height: auto;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .sec-present-outline .present-prize .present-prize__block .present-prize__block__name{
    padding: 0 11.4%;
    white-space: nowrap;
  }
  .sec-present-outline .present-prize .present-prize__block .present-prize__block__name-sub{
    padding: 0 11.4%;
  }
  .sec-present-outline .present-prize .present-prize__block .present-prize__block__text{
    padding: 0 11.4%;
  }
  .sec-present-outline .present-prize .present-prize__block .present-prize__block__image{
    margin-top: 15px;
    padding: 0 11.4%;
    max-width: none;
    width: 100%;
  }
  .sec-present-outline .present-prize .present-prize__block--B .present-prize__block__image{
    margin-top: 0;
    max-width: none;
    width: 100%;
    text-align: center;
  }
  .sec-present-outline .present-prize .present-prize__block--B .present-prize__block__image img{
    margin: 0 auto;
    width: 86.4%;
  }
  .sec-present-outline .list-notes{
    margin-top: 28px;
  }
}
