@import '_core/valiables';
@import '_core/mixins';


/* --------------------------------------------------
  共通設定
-------------------------------------------------- */
$baseDelay: 0;


// Aモーション（スライドアップ）
@keyframes aniA {
  from {
    transform: translateY(8px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.aniA {
  animation-name: aniA;
  animation-timing-function: ease;
  animation-duration: 0.2s;
  animation-delay: #{$baseDelay + s};
  animation-fill-mode: both;
}

// Bモーション（スライドアップ + 拡大）
@keyframes aniB {
  from {
    transform: scale(0.8);
    bottom: -8px;
    opacity: 0;
  }
  to {
    transform: scale(1);
    bottom: 0px;
    opacity: 1;
  }
}
.aniB {
  animation-name: aniB;
  animation-timing-function: ease;
  animation-duration: 0.2s;
  animation-delay: #{$baseDelay + s};
  animation-fill-mode: both;
  transform-origin: center bottom;
  position: relative;
}

// Cモーション（右スライドイン）
@keyframes aniC {
  from {
    transform: translateX(-8px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.aniC {
  animation-name: aniC;
  animation-timing-function: ease;
  animation-duration: 0.2s;
  animation-delay: #{$baseDelay + s};
  animation-fill-mode: both;
}

// 拡大縮小
@keyframes aniD {
  from {
    transform: scale(1.06);
  }
  to {
    transform: scale(1);
  }
}

// 上下にふわふわ
@keyframes aniE {
  from {
    bottom: 0px;
  }
  to {
    bottom: -5px;
  }
}

// 上から下に繰り返す
@keyframes aniF {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  45% {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// 下から出る大きな球体
@keyframes aniG {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.aniG {
  animation-name: aniG;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
  transform-origin: center top;
  @include res_min( $break ){
    transform-origin: center center;
  }
}

// グラデーションループ
@keyframes aniH {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// 空アニメーション
@keyframes aniXXX {}
.aniXXX {
  animation: aniXXX 0s 0s;
}

// 背景：下 波 ループアニメ
@keyframes roop-ani {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -375px 0;
  }
}
@include res_min( $break ){
  @keyframes roop-ani-l {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -800px 0;
    }
  }
}


/* --------------------------------------------------
  個別に設定
-------------------------------------------------- */
// 答えて当てよう！
.intro-title__left,
.intro-title__right {
  animation-delay: 0.1s;
}
.intro-title__left.animated,
.intro-title__right.animated { // スライド拡大表示してから拡縮する
  animation-name: aniD;
  animation-timing-function: ease-in-out;
  animation-duration: 0.78s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
  transform-origin: center center;
}


// ご成約者様限定
.sec-intro .subject__num,
.subject__item__contents__title .ivo,
.subject__item__contents__text,
.subject__item__image {
  animation-delay: 0;
}
.subject-bg {
  animation-delay: 0;
}
@include res_min( $break ){
  .sec-intro .subject__num,
  .subject__item__contents__title .ivo,
  .subject__item__contents__text,
  .subject__item__image {
    animation-delay: 0;
  }
  .subject__item__image {
    animation-delay: 0;
  }
}


// 抽選で豪華賞品をプレゼント！
.present-outline-head {
  .present-outline-head__title__sub {
    animation-play-state: paused;
    animation-delay: 0;
  }
  .present-outline-head__left,
  .present-outline-head__right {
    animation-play-state: paused;
    animation-delay: 0.1s;
  }
  &.animated {
    .present-outline-head__title__sub,
    .present-outline-head__left,
    .present-outline-head__right {
      animation-play-state: running;
    }
  }
}

// A賞B賞
.present-prize__block {
  & > .ivo {
    animation-delay: 0.2s;
  }
  .bg {
    animation-delay: 0;
  }
}

// リスト
.list-notes > .ivo {
  animation-delay: 0;
}


// 応募方法・キャンペーン概要
.application-title {
  animation-delay: 0;
  .text,
  .icon-application-title {
    animation-play-state: paused;
  }
  &.animated {
    .text {
      animation-play-state: running;
      animation-delay: 0;
    }
    .icon-application-title {
      animation-play-state: running;
      animation-delay: 0;
      &.animated {
        animation-name: aniE;
        animation-timing-function: ease-in-out;
        animation-duration: 0.9s;
        animation-delay: 0;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }
}

// 見る/閉じる
.application-rules {
  animation-delay: 0.1s;
}


// お部屋プラスとは
.sec-oheyaplus {
  .oheyaplus-arrow {
    animation: aniF 1.1s ease-in-out 0s normal infinite;
  }
  .oheyaplus-data__title,
  .oheyaplus-data__text {
    animation-delay: 0.3s;
  }
  .button--yellow {
    animation-delay: 0.3s;
    &.animated {
      .button--red {
        animation-delay: 0.3s;
      }
    }
  }
}
@include res_min( $break ){
  .sec-oheyaplus {
    .oheyaplus-data__title,
    .oheyaplus-data__text,
    .button {
      animation-play-state: paused;
    }
    .oheyaplus-image.animated + .oheyaplus-data {
      .oheyaplus-data__title {
        animation-delay: 0;
        animation-play-state: running;
        &.animated {
          & + .oheyaplus-data__text {
            animation-delay: 0;
            animation-play-state: running;
            &.animated + .button-wrap {
              .button--yellow {
                animation-delay: 0;
                animation-play-state: running;
                &.animated {
                  & + .button--red {
                    animation-delay: 0;
                    animation-play-state: running;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


// その他の情報もチェック
.information::before {
  animation: aniH 6s ease-in-out 0s infinite;
}