@charset "UTF-8";
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans JP Regular"), url("../fonts/notosans-jp/NotoSansJP-Regular.woff2") format("woff2"), url("../fonts/notosans-jp/NotoSansJP-Regular.woff") format("woff"), url("../fonts/notosans-jp/NotoSansJP-Regular.otf") format("embedded-opentype"); }
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 600;
  src: local("Noto Sans JP Bold"), url("../fonts/notosans-jp/NotoSansJP-Bold.woff2") format("woff2"), url("../fonts/notosans-jp/NotoSansJP-Bold.woff") format("woff"), url("../fonts/notosans-jp/NotoSansJP-Bold.otf") format("embedded-opentype"); }
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans JP Black"), url("../fonts/notosans-jp/NotoSansJP-Black.woff2") format("woff2"), url("../fonts/notosans-jp/NotoSansJP-Black.woff") format("woff"), url("../fonts/notosans-jp/NotoSansJP-Black.otf") format("embedded-opentype"); }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

sub, sup {
  font-size: 50%;
  font-weight: normal; }

a img {
  border: none; }

article, aside, details, figcaption, figure, picture, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

input[type='button']:not([disabled]), input[type='submit']:not([disabled]), input[type='reset']:not([disabled]), button:not([disabled]) {
  cursor: pointer; }

[hidden] {
  display: none !important; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none; }

/* ------------------------------------
//  base
// ----------------------------------*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%; }

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
  color: #333333;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word; }

.pc {
  display: none; }

@media only screen and (min-width: 768px) {
  .pc {
    display: inline; } }
@media only screen and (min-width: 768px) {
  .sp {
    display: none; } }
*,
*:before,
*:after {
  box-sizing: border-box; }

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* ------------------------------------
//  見出し
// ----------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.6em;
  margin-bottom: 0; }

/* ------------------------------------
//  フォント
// ----------------------------------*/
em,
strong {
  font-style: normal;
  font-weight: 600; }

/* ------------------------------------
//  リスト
// ----------------------------------*/
ol, ul {
  list-style: none; }

/* ------------------------------------
//  段落設定
// ----------------------------------*/
p {
  margin: 1em auto 0;
  text-align: left; }
  p:first-of-type {
    margin-top: 0; }

/* ------------------------------------
//  画像
// ----------------------------------*/
img,
svg {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  line-height: 1; }

/* ------------------------------------
//  リンク
// ----------------------------------*/
a {
  color: #333333;
  text-decoration: none;
  transition: all .1s linear 0s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  a:link, a:visited {
    color: #D70056;
    text-decoration: underline; }
  a:hover, a:active {
    color: #333333;
    text-decoration: underline; }
  a i {
    margin: 0 4px; }

header a:link, header a:visited, footer a:link, footer a:visited {
  color: #D70056;
  text-decoration: none; }
header a:hover, header a:active, footer a:hover, footer a:active {
  opacity: 1;
  color: #333333; }

a img {
  opacity: 1; }

@media only screen and (min-width: 768px) {
  a img {
    transition: opacity .1s linear 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    a img:hover {
      opacity: 0.7; } }
/* ----------------------------------------------------------------
  見出し
---------------------------------------------------------------- */
/* ----------------------------------------------------------------
  リスト
---------------------------------------------------------------- */
.notes-title {
  font-size: 1.3rem;
  line-height: 1.5; }

.list-notes, .list-num {
  margin: 1em auto; }
  .list-notes li, .list-num li {
    padding-left: 1.25em;
    font-size: 1.3rem;
    line-height: 1.5;
    position: relative; }
    .list-notes li::before, .list-num li::before {
      content: '・';
      position: absolute;
      left: 0; }

.list-num {
  counter-reset: Num; }
  .list-num li {
    counter-increment: Num; }
    .list-num li::before {
      content: counter(Num) "."; }

.list-disc {
  margin: 1em auto; }
  .list-disc li {
    font-size: 1.3rem;
    position: relative;
    padding-left: calc(1em + 1px); }
    .list-disc li + li {
      margin-top: 0.4em; }
    .list-disc li::before {
      content: '・';
      position: absolute;
      left: 0;
      top: 0; }

/* ----------------------------------------------------------------
  その他
---------------------------------------------------------------- */
.js-trgAccordion {
  display: none; }

.notes {
  display: block;
  font-size: 0.86667em;
  line-height: 1.5; }

.sns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; }
  .sns .sns__icon {
    margin: 0 min(9vw, 34px);
    width: 56px; }

/* ----------------------------------------------------------------
  ヘッダーのレイアウト
---------------------------------------------------------------- */
.header {
  height: 36px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  z-index: 1; }
  .header .header__inner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    height: 100%; }
    .header .header__inner a {
      line-height: 1; }
    .header .header__inner .logo-housemate-navi img {
      width: 90px; }
    .header .header__inner .logo-housemate img {
      width: 108px; }

@media only screen and (min-width: 768px) {
  .header {
    height: 80px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }
    .header .header__inner {
      padding-left: 40px;
      padding-right: 40px; }
      .header .header__inner .logo-housemate-navi img {
        width: 195px; }
      .header .header__inner .logo-housemate img {
        width: 178px; } }
/* ----------------------------------------------------------------
  フッターのレイアウト
---------------------------------------------------------------- */
main + .footer {
  margin-top: 86px;
  border-top: 1px solid #B5B5B5; }
.footer .footer__inner {
  padding: 12px 12px 8px; }
  .footer .footer__inner .logo {
    width: 116px;
    line-height: 1; }
    .footer .footer__inner .logo img {
      width: 100%; }
  .footer .footer__inner .copyright {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.3; }

@media only screen and (min-width: 768px) {
  main + .footer {
    margin-top: 126px; }
  .footer .footer__inner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 35px;
    height: 60px; }
    .footer .footer__inner .logo {
      width: 142px; }
    .footer .footer__inner .copyright {
      margin-top: 0;
      font-size: 1.4rem;
      line-height: 1; }
      .footer .footer__inner .copyright br {
        display: none; } }
/* ----------------------------------------------------------------
  各ページ共通
---------------------------------------------------------------- */
.iv,
.ivo {
  visibility: hidden; }

img {
  transition: 0.25s; }

a {
  transition: 1s; }
  a:hover img {
    opacity: 0.7; }

.button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 60px auto 0;
  background-color: #E9607C;
  box-shadow: 0 6px 0 #d70056;
  border-radius: 40px;
  width: 100%;
  max-width: 375px;
  height: 80px;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #fff;
  overflow: visible;
  position: relative;
  transition: none; }
  .button:link, .button:visited {
    color: #fff;
    transition: none;
    text-decoration: none; }
  .button:hover, .button:active {
    text-decoration: none; }
  .button::before {
    content: '';
    background-image: url(../images/cnt_ico_next.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 24px;
    height: 100%;
    position: absolute;
    right: 23px;
    top: 0; }
  .button:active {
    box-shadow: none;
    transform: translateY(6px) !important; }
  .button--white {
    justify-content: flex-start;
    margin-top: 25px;
    padding: .9em 3.5em 1.1em 2.5em;
    height: auto;
    background-color: #fff;
    box-shadow: 0 6px 0 #e5568c;
    font-size: 1.6rem;
    line-height: 1.5; }
    .button--white:link, .button--white:visited {
      color: #d70056; }
    .button--white::before {
      background-image: url(../images/cnt_ico_next-red.svg); }
  .button--red {
    justify-content: flex-start;
    padding: 0.9em 3.5em 1.1em 2.5em;
    margin-top: 25px;
    background-color: #E9607C;
    height: auto;
    font-size: 1.6rem;
    line-height: 1.5; }
    .button--red:link, .button--red:visited {
      color: #fff; }
    .button--red::before {
      background-image: url(../images/cnt_ico_next.svg); }
  .button--yellow {
    justify-content: flex-start;
    padding: 0.9em 3.5em 1.1em 2.5em;
    margin-top: 25px;
    background-color: #F8B616;
    box-shadow: 0 6px 0 #DD8319;
    height: auto;
    font-size: 1.6rem;
    line-height: 1.5; }
    .button--yellow:link, .button--yellow:visited {
      color: #fff; }
    .button--yellow::before {
      background-image: url(../images/cnt_ico_next.svg); }
  .button--anc {
    margin-top: 70px;
    height: 64px;
    background-image: linear-gradient(90deg, #ff6ea6 0%, #f9c110 100%);
    box-shadow: 0 6px 0 #d70056; }
    .button--anc::after {
      content: none; }
    .button--anc::before {
      content: '';
      background-image: url(../images/cnt_ico_next.svg);
      width: 23px;
      right: 28px;
      transform: rotate(90deg); }

@media only screen and (min-width: 768px) {
  .button {
    margin-top: 100px;
    max-width: 500px;
    font-size: 2rem; }
    .button--white {
      justify-content: center;
      margin-top: 35px;
      padding-right: 3em;
      padding-left: 3em;
      max-width: 696px; }
    .button--red {
      padding: 1.2em 3.5em 1.3em 2.5em;
      margin-top: 25px;
      font-size: 1.6rem; }
    .button--yellow {
      padding: 1.2em 3.5em 1.3em 2.5em;
      margin-top: 25px;
      font-size: 1.6rem; }
    .button--anc {
      margin-top: 80px;
      max-width: 592px;
      height: 100px;
      border-radius: 50px;
      font-size: 2.4rem; }
      .button--anc::before {
        width: 40px;
        right: 48px; } }
.caption {
  font-size: 1.3rem;
  line-height: 1.5; }

.mv {
  position: relative;
  z-index: -1; }

.closed {
  padding: 2.5em 0;
  background-color: #d70056; }
  .closed p {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2;
    color: #fff;
    text-align: center; }

@media only screen and (min-width: 768px) {
  .closed {
    padding: 3em 0; }
    .closed p {
      font-size: 3rem; } }
.sec {
  position: relative; }
  .sec .inner {
    width: 100%;
    max-width: calc(900px + 30px);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; }
    @media only screen and (min-width: 768px) {
      .sec .inner {
        max-width: calc(900px + 100px);
        padding-left: 50px;
        padding-right: 50px; } }

/* ----------------------------------------------------------------
  LP
---------------------------------------------------------------- */
.intro-title {
  width: 100%;
  max-width: calc(900px + 30px);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 55px; }
  @media only screen and (min-width: 768px) {
    .intro-title {
      max-width: calc(900px + 100px);
      padding-left: 50px;
      padding-right: 50px; } }
  .intro-title .intro-title__main {
    order: 2;
    margin: 0 0.6%;
    width: 82.6%;
    max-width: 413px; }
  .intro-title .intro-title__left,
  .intro-title .intro-title__right {
    width: 8.1%;
    max-width: 40px;
    height: auto; }
    .intro-title .intro-title__left img,
    .intro-title .intro-title__right img {
      margin-bottom: 3px; }
  .intro-title .intro-title__left {
    order: 1; }
  .intro-title .intro-title__right {
    order: 3; }

@media only screen and (min-width: 768px) {
  .intro-title {
    margin-top: 60px; }
    .intro-title .intro-title__main {
      margin: 0 4.5%;
      width: 72%;
      max-width: 524px; }
    .intro-title .intro-title__left,
    .intro-title .intro-title__right {
      width: 9%;
      max-width: 66px; }
      .intro-title .intro-title__left img,
      .intro-title .intro-title__right img {
        margin-bottom: 0; } }
.sec-intro {
  padding-top: 22vw;
  padding-bottom: 150px;
  margin-top: 3vw;
  background-image: linear-gradient(#ffd0d3 0%, #ffd0d3 10%, #fff 100%);
  position: relative;
  z-index: 1; }
  .sec-intro .subject-bg {
    width: 100%;
    height: calc(100% - min(calc(50px + 11px), calc(10.5vw + 11px)));
    background-color: #fff;
    position: absolute;
    left: 0;
    top: min(calc(50px + 11px), calc(10.5vw + 11px));
    z-index: -1; }
    .sec-intro .subject-bg .bg-kei-h,
    .sec-intro .subject-bg .bg-kei-b {
      content: '';
      width: 100%;
      height: 11px;
      position: absolute;
      left: 0; }
      .sec-intro .subject-bg .bg-kei-h::before, .sec-intro .subject-bg .bg-kei-h::after,
      .sec-intro .subject-bg .bg-kei-b::before,
      .sec-intro .subject-bg .bg-kei-b::after {
        content: '';
        width: 11px;
        height: 11px;
        background-image: url(../images/bg-subject.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        position: absolute;
        z-index: -1; }
      .sec-intro .subject-bg .bg-kei-h span,
      .sec-intro .subject-bg .bg-kei-b span {
        background-color: #fff;
        width: calc(100% - 22px);
        height: 11px;
        position: absolute;
        left: 11px; }
    .sec-intro .subject-bg .bg-kei-h {
      top: -11px; }
      .sec-intro .subject-bg .bg-kei-h::before, .sec-intro .subject-bg .bg-kei-h::after {
        top: 0; }
      .sec-intro .subject-bg .bg-kei-h::before {
        left: 0; }
      .sec-intro .subject-bg .bg-kei-h::after {
        right: 0;
        transform: scale(-1, 1); }
      .sec-intro .subject-bg .bg-kei-h span {
        top: 0; }
    .sec-intro .subject-bg .bg-kei-b {
      bottom: -11px; }
      .sec-intro .subject-bg .bg-kei-b::before, .sec-intro .subject-bg .bg-kei-b::after {
        bottom: 0; }
      .sec-intro .subject-bg .bg-kei-b::before {
        left: 0;
        transform: scale(1, -1); }
      .sec-intro .subject-bg .bg-kei-b::after {
        right: 0;
        transform: scale(-1, -1); }
      .sec-intro .subject-bg .bg-kei-b span {
        bottom: 0; }
  .sec-intro::before {
    content: '';
    width: 100%;
    height: 22vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #fff;
    background-image: url(../images/bg-intro.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%; }
  .sec-intro::after {
    content: '';
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../images/bg-intro-bottom-s.svg);
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: auto 100%;
    -webkit-animation: roop-ani 8s linear infinite;
    animation: roop-ani 8s linear infinite; }
  .sec-intro .subject {
    padding: 0 30px 50px;
    position: relative;
    z-index: 1;
    overflow-y: visible; }
    .sec-intro .subject::after {
      background-position: right top;
      left: auto;
      right: 0;
      transform: scale(-1, -1); }
    .sec-intro .subject .subject__title {
      margin-left: -30px;
      margin-right: -30px;
      text-align: center;
      position: relative;
      z-index: 1; }
      .sec-intro .subject .subject__title img {
        width: 88.4%;
        max-width: 400px; }
    .sec-intro .subject .subject__num {
      margin-top: 28px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      -moz-column-gap: 8px;
      column-gap: 8px; }
      .sec-intro .subject .subject__num:not(:first-of-type) {
        margin-top: 60px; }
      .sec-intro .subject .subject__num span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 18px;
        background-color: #F8B616;
        border-radius: 19px;
        height: 38px;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        color: #D70056;
        white-space: nowrap; }
      .sec-intro .subject .subject__num::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #D70056; }
    .sec-intro .subject .subject__item {
      margin-top: 20px; }
      .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title {
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center; }
        .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title .ivo {
          display: block; }
        .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title .f1 {
          display: inline-block;
          padding: 2px 8px;
          margin: 5px 3px;
          border: 1px solid #D70056;
          border-radius: 4px;
          font-size: 1.9rem;
          line-height: 1.47;
          color: #D70056; }
        .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title .img {
          margin: 12px 0 16px;
          line-height: 1;
          text-align: center; }
          .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title .img img {
            width: 24px;
            line-height: 1; }
        .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title em {
          font-size: 2rem;
          font-weight: 900;
          line-height: 1.45; }
          .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title em small {
            font-size: 75%; }
      .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__text {
        margin-top: 15px;
        font-size: 1.6rem;
        line-height: 1.75; }
      .sec-intro .subject .subject__item .subject__item__image {
        margin-top: 24px;
        text-align: center; }
        .sec-intro .subject .subject__item .subject__item__image img {
          width: 88%;
          max-width: 350px; }
  .sec-intro .notes {
    margin-top: 30px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #D70056; }

@media only screen and (min-width: 768px) {
  .sec-intro {
    padding-bottom: 185px;
    margin-top: 46px;
    background-image: linear-gradient(#ffd0d3 0%, #ffd0d3 28vw, #fff 100%); }
    .sec-intro .inner {
      margin-top: -8vw; }
    .sec-intro .subject-bg {
      height: calc(100% - min(calc(52px + 24px), calc(6vw + 24px)));
      top: min(calc(52px + 24px), calc(6vw + 24px)); }
      .sec-intro .subject-bg .bg-kei-h,
      .sec-intro .subject-bg .bg-kei-b {
        height: 24px; }
        .sec-intro .subject-bg .bg-kei-h::before, .sec-intro .subject-bg .bg-kei-h::after,
        .sec-intro .subject-bg .bg-kei-b::before,
        .sec-intro .subject-bg .bg-kei-b::after {
          width: 24px;
          height: 24px; }
        .sec-intro .subject-bg .bg-kei-h span,
        .sec-intro .subject-bg .bg-kei-b span {
          width: calc(100% - 48px);
          height: 24px;
          left: 24px; }
      .sec-intro .subject-bg .bg-kei-h {
        top: -24px; }
      .sec-intro .subject-bg .bg-kei-b {
        bottom: -24px; }
    .sec-intro::after {
      height: 60px;
      background-image: url(../images/bg-intro-bottom-l.svg);
      -webkit-animation: roop-ani-l 15s linear infinite;
      animation: roop-ani-l 15s linear infinite; }
    .sec-intro .subject {
      padding: 0 69px 14px; }
      .sec-intro .subject .subject__title {
        margin-left: -69px;
        margin-right: -69px; }
        .sec-intro .subject .subject__title img {
          width: 90%;
          max-width: 696px; }
      .sec-intro .subject .subject__num {
        margin-top: 55px;
        -moz-column-gap: 9px;
        column-gap: 9px; }
        .sec-intro .subject .subject__num:not(:first-of-type) {
          margin-top: 50px; }
      .sec-intro .subject .subject__item {
        margin-top: 25px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch; }
        .sec-intro .subject .subject__item .subject__item__contents {
          flex-basis: 64.4%; }
          .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title {
            font-size: min(1.9vw, 1.8rem);
            text-align: left; }
            .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title .f1 {
              margin: 0 4px;
              font-size: min(1.9vw, 1.8rem); }
            .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title .img {
              margin: 18px 0 10px;
              width: 100%; } }
            @media only screen and (min-width: 768px) and (min-width: 900px) {
              .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title .img {
                width: 72%; } }
@media only screen and (min-width: 768px) {
              .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title .img img {
                width: 25px; }
            .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title em {
              font-size: 3rem;
              line-height: 1.5; }
              .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__title em small {
                font-size: 66.667%; }
          .sec-intro .subject .subject__item .subject__item__contents .subject__item__contents__text {
            margin-top: 5px; }
        .sec-intro .subject .subject__item .subject__item__image {
          flex-basis: 35.6%;
          margin-top: 0; }
          .sec-intro .subject .subject__item .subject__item__image img {
            width: 100%;
            max-width: 268px; }
        .sec-intro .subject .subject__item:last-of-type .subject__item__contents .subject__item__contents__title em {
          line-height: 1.9; }
        .sec-intro .subject .subject__item:last-of-type .subject__item__image img {
          max-width: 271px; }
    .sec-intro .notes {
      padding: 0 69px;
      margin-top: 40px; } }
.sec-present-outline {
  background-color: #FFF7E2; }
  .sec-present-outline .inner {
    padding-top: 60px;
    padding-bottom: 115px; }
  .sec-present-outline .present-outline-head {
    margin: 0 auto;
    max-width: 400px;
    position: relative; }
    .sec-present-outline .present-outline-head .present-outline-head__title {
      margin: 0 auto;
      width: 57.4%; }
      .sec-present-outline .present-outline-head .present-outline-head__title .present-outline-head__title__sub {
        margin: 0 auto;
        width: 85%; }
      .sec-present-outline .present-outline-head .present-outline-head__title .present-outline-head__title__main {
        margin: min(12px, 3vw) auto 0;
        width: 100%; }
    .sec-present-outline .present-outline-head .present-outline-head__left {
      width: 23.8%;
      position: absolute;
      left: 0;
      bottom: 0; }
    .sec-present-outline .present-outline-head .present-outline-head__right {
      width: 23.8%;
      position: absolute;
      right: 0;
      bottom: 0; }
  .sec-present-outline .present-outline-info {
    margin-top: 18px; }
    .sec-present-outline .present-outline-info p {
      font-size: 1.6rem;
      line-height: 1.75; }
      .sec-present-outline .present-outline-info p.txt-sub {
        font-size: 1.3rem; }
  .sec-present-outline .giftee-box {
    margin-top: 35px; }
    .sec-present-outline .giftee-box p {
      margin-top: 10px;
      font-size: 1.3rem; }
  .sec-present-outline .notes-title {
    margin-top: 25px; }
  .sec-present-outline .list-notes, .sec-present-outline .list-num {
    margin-top: 5px; }

@media only screen and (min-width: 768px) {
  .sec-present-outline {
    position: relative; }
    .sec-present-outline .sec-present-outline-bg-l {
      background-image: url(../images/bg-present-outline-left.png);
      background-repeat: no-repeat;
      background-position: right 30px top 506px;
      background-size: 135px;
      width: calc((100% - 900px) / 2);
      height: calc(720px + 506px);
      position: absolute;
      top: 0;
      left: 0; }
    .sec-present-outline .sec-present-outline-bg-r {
      background-image: url(../images/bg-present-outline-right.png);
      background-repeat: no-repeat;
      background-position: left 46px top 310px;
      background-size: 114px;
      width: calc((100% - 900px) / 2);
      height: calc(730px + 310px);
      position: absolute;
      top: 0;
      right: 0; }
    .sec-present-outline .inner {
      padding-top: 89px;
      padding-bottom: 160px; }
    .sec-present-outline .present-outline-head {
      align-items: flex-end;
      width: 80%;
      max-width: 707px; }
      .sec-present-outline .present-outline-head .present-outline-head__title {
        margin: 0 auto min(8px, 1.5%);
        width: 48%; }
        .sec-present-outline .present-outline-head .present-outline-head__title .present-outline-head__title__sub {
          margin: 0 auto;
          width: 100%; }
        .sec-present-outline .present-outline-head .present-outline-head__title .present-outline-head__title__main {
          margin-top: min(19px, 2vw);
          width: 95.6%; }
      .sec-present-outline .present-outline-head .present-outline-head__left {
        width: 23%; }
      .sec-present-outline .present-outline-head .present-outline-head__right {
        width: 23%; }
    .sec-present-outline .present-outline-info {
      margin-top: 35px; }
      .sec-present-outline .present-outline-info p {
        text-align: center; }
    .sec-present-outline .giftee-box p {
      text-align: center; }
    .sec-present-outline .notes-title {
      margin-top: 30px; }
    .sec-present-outline .list-notes, .sec-present-outline .list-num {
      margin-top: 3px; } }
.sec-about-application {
  padding: 50px 0 80px;
  background-color: #FFD0D3;
  background-image: url(../images/bg-about-application.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  position: relative; }
  .sec-about-application::before {
    content: '';
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: -47px;
    background-image: url(../images/bg-application-bottom-s.svg);
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: auto 100%;
    -webkit-animation: roop-ani 8s linear infinite;
    animation: roop-ani 8s linear infinite; }
  .sec-about-application .application-title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 48px;
    padding-right: 29px;
    margin-bottom: 14px;
    height: 98px;
    background-color: #fff;
    border-radius: 49px;
    position: relative; }
    .sec-about-application .application-title::before {
      content: '';
      width: 29px;
      height: 14px;
      background-image: url(../images/ico-arrow-white.svg);
      background-repeat: no-repeat;
      background-position: center top;
      background-size: contain;
      position: absolute;
      left: 50%;
      bottom: -14px;
      transform: translateX(-50%); }
    .sec-about-application .application-title .text {
      width: auto;
      height: 27px; }
    .sec-about-application .application-title .icon-application-title img {
      width: 75px; }
    .sec-about-application .application-title.title-outline {
      padding-left: 30px;
      margin-top: 80px; }
      .sec-about-application .application-title.title-outline .icon-application-title img {
        width: 63px; }
  .sec-about-application .subject .subject__item {
    margin-top: 70px;
    border-radius: 0 0 8px 8px;
    text-align: center;
    position: relative; }
    .sec-about-application .subject .subject__item:first-of-type {
      margin-top: 45px; }
    .sec-about-application .subject .subject__item .subject__item__head {
      padding-top: 40px;
      background-image: url(../images/bg-application-subject-item.png);
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 100%; }
    .sec-about-application .subject .subject__item .subject__num {
      margin-top: 0; }
      .sec-about-application .subject .subject__item .subject__num:not(:first-of-type) {
        margin-top: 60px; }
      .sec-about-application .subject .subject__item .subject__num span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0 18px;
        background-color: #F8B616;
        border-radius: 19px;
        height: 38px;
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 0.1em;
        color: #D70056;
        white-space: nowrap; }
    .sec-about-application .subject .subject__item .subject__title {
      padding: 0 0 18px;
      margin: 18px 16px 0;
      font-size: 2.2rem;
      font-weight: 900;
      line-height: 1.5;
      color: #fff; }
    .sec-about-application .subject .subject__item .subject__line {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: calc(100% - 32px);
      height: 1px;
      background-color: #fff; }
    .sec-about-application .subject .subject__item .subject__text {
      padding: 0 16px 20px 45px;
      margin-top: 18px;
      font-size: 1.6rem;
      line-height: 1.5;
      color: #fff;
      position: relative; }
      .sec-about-application .subject .subject__item .subject__text::before {
        content: '';
        width: 22px;
        height: 100%;
        background-image: url(../images/ico-check-mark.svg);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100%;
        position: absolute;
        left: 16px;
        top: 3px; }
    .sec-about-application .subject .subject__item .subject__flow {
      background-color: #fff;
      border-radius: 0 0 8px 8px;
      text-align: left; }
      .sec-about-application .subject .subject__item .subject__flow li {
        padding: 20px 16px 40px 65px;
        background-image: url(../images/bg-subject-flow-li.svg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: auto;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.6;
        position: relative; }
        .sec-about-application .subject .subject__item .subject__flow li:last-of-type {
          padding-bottom: 30px;
          background-image: none; }
      .sec-about-application .subject .subject__item .subject__flow .num {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
        border-radius: 8px;
        font-size: 1.8rem;
        font-weight: 600;
        color: #fff;
        background-color: #D70056;
        position: absolute;
        left: 16px;
        top: 15px; }
      .sec-about-application .subject .subject__item .subject__flow .button {
        justify-content: flex-start;
        padding-left: 34px;
        margin-top: 20px; }
  .sec-about-application .application-rules {
    margin-top: 45px; }

@media only screen and (min-width: 768px) {
  .sec-about-application {
    padding: 84px 0 120px;
    background-image: url(../images/bg-about-application-l.jpg); }
    .sec-about-application::before {
      height: 60px;
      top: -60px;
      background-image: url(../images/bg-application-bottom-l.svg);
      -webkit-animation: roop-ani-l 15s linear infinite;
      animation: roop-ani-l 15s linear infinite; }
    .sec-about-application .application-title {
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 22px;
      height: 120px;
      border-radius: 60px; }
      .sec-about-application .application-title::before {
        width: 36px;
        height: 22px;
        background-image: url(../images/ico-arrow-white-l.svg);
        bottom: -22px; }
      .sec-about-application .application-title .text {
        height: 37px; }
      .sec-about-application .application-title .icon-application-title {
        position: absolute;
        right: 45px;
        bottom: 19px; }
        .sec-about-application .application-title .icon-application-title img {
          width: 198px; }
      .sec-about-application .application-title.title-outline {
        padding-left: 0;
        margin-top: 102px; }
        .sec-about-application .application-title.title-outline .icon-application-title {
          right: 62px;
          bottom: 16px; }
          .sec-about-application .application-title.title-outline .icon-application-title img {
            width: 143px; }
    .sec-about-application .subject {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 50px; }
      .sec-about-application .subject .subject__item {
        margin-top: 0;
        flex-basis: 48.667%; }
        .sec-about-application .subject .subject__item:first-of-type {
          margin-top: 0; }
        .sec-about-application .subject .subject__item .subject__item__head {
          padding-top: 52px; }
        .sec-about-application .subject .subject__item .subject__num:not(:first-of-type) {
          margin-top: 0; }
        .sec-about-application .subject .subject__item .subject__title {
          padding: 0 0 25px;
          margin: 25px 21px 0;
          font-size: 2.8rem; }
        .sec-about-application .subject .subject__item .subject__line {
          width: calc(100% - 42px); }
        .sec-about-application .subject .subject__item .subject__text {
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: stretch;
          -moz-column-gap: 9px;
          column-gap: 9px;
          padding: 25px 21px;
          margin-top: 0;
          min-height: 6.125em; }
          .sec-about-application .subject .subject__item .subject__text::before {
            width: 28px;
            height: 22px;
            position: relative;
            left: auto;
            top: auto; }
        .sec-about-application .subject .subject__item .subject__flow li {
          padding: 30px 21px 50px 85px; }
          .sec-about-application .subject .subject__item .subject__flow li:last-of-type {
            padding-bottom: 40px; }
        .sec-about-application .subject .subject__item .subject__flow .num {
          width: 48px;
          height: 48px;
          font-size: 2.4rem;
          left: 21px;
          top: 21px; }
        .sec-about-application .subject .subject__item .subject__flow .button {
          padding-left: 38px;
          margin-top: 20px;
          font-size: 1.6rem; }
        .sec-about-application .subject .subject__item:last-of-type .subject__text {
          align-items: center; }
        .sec-about-application .subject .subject__item:last-of-type .subject__flow li {
          padding: 20px 21px 40px;
          display: flex;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center; }
          .sec-about-application .subject .subject__item:last-of-type .subject__flow li:last-of-type {
            padding-bottom: 30px; }
        .sec-about-application .subject .subject__item:last-of-type .subject__flow .num {
          margin-right: 16px;
          position: relative;
          left: auto;
          top: auto; }
    .sec-about-application .application-rules {
      margin-top: 45px; } }
.application-rules .application-rules__title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-90deg, #006eba 0%, #166cb6 6.71%, #366bb2 14.47%, #ca3962 38.56%, #cf3360 42.67%, #dd225d 48.04%, #e41b5c 50%, #e5354d 56.86%, #e74c41 63.93%, #ee7f29 73.8%, #f3a219 79.98%, #f6b413 90.33%, #f9c110 100%);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 110px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 2.4rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 1;
  color: #fff;
  text-align: center;
  cursor: pointer; }
  .application-rules .application-rules__title::after {
    content: '';
    width: 26px;
    height: 26px;
    background-image: url(../images/icon-plus.svg);
    background-size: 100%;
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translateY(-50%); }
  .application-rules .application-rules__title .button-tex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .application-rules .application-rules__title .button-tex .text-active {
      display: none; }
    .application-rules .application-rules__title .button-tex img {
      display: block;
      margin-top: 8px;
      margin-bottom: -12px;
      width: 62px; }
  .application-rules .application-rules__title.is-active {
    border-radius: 10px 10px 0 0; }
    .application-rules .application-rules__title.is-active::after {
      background-image: url(../images/icon-minus.svg); }
    .application-rules .application-rules__title.is-active .button-tex .text-passive {
      display: none; }
    .application-rules .application-rules__title.is-active .button-tex .text-active {
      display: block; }
.application-rules .application-rules__data {
  padding: 19px 17px;
  background-color: #fff;
  border-radius: 0 0 10px 10px; }
  .application-rules .application-rules__data .application-rules__data__list dt {
    padding-left: 28px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #D70056;
    position: relative; }
    .application-rules .application-rules__data .application-rules__data__list dt:not(:first-of-type) {
      margin-top: 15px; }
    .application-rules .application-rules__data .application-rules__data__list dt::before {
      content: '';
      width: 20px;
      height: 20px;
      border: 2px solid #D70056;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 4px; }
  .application-rules .application-rules__data .application-rules__data__list dd {
    margin-top: 2px; }
    .application-rules .application-rules__data .application-rules__data__list dd em {
      display: block;
      font-size: 1.8rem;
      font-weight: normal; }
    .application-rules .application-rules__data .application-rules__data__list dd .notes {
      margin-top: 5px; }
    .application-rules .application-rules__data .application-rules__data__list dd .list-disc {
      margin: 0.5em auto 0; }

@media only screen and (min-width: 768px) {
  .application-rules .application-rules__title {
    height: 120px; }
    .application-rules .application-rules__title::after {
      width: 34px;
      height: 34px;
      right: 30px; }
    .application-rules .application-rules__title .button-tex {
      flex-direction: row; }
      .application-rules .application-rules__title .button-tex span {
        margin-left: 78px; }
      .application-rules .application-rules__title .button-tex img {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 14px;
        width: 78px; }
  .application-rules .application-rules__data {
    padding: 55px 100px; }
    .application-rules .application-rules__data .application-rules__data__list dt:not(:first-of-type) {
      margin-top: 20px; }
    .application-rules .application-rules__data .application-rules__data__list dd {
      margin-top: 4px; }
      .application-rules .application-rules__data .application-rules__data__list dd .notes {
        margin-top: 7px; } }
.application-others {
  margin-top: 20px; }
  .application-others .application-others__title {
    padding: 15px 30px;
    background-color: #D70056;
    border-radius: 10px 10px 0 0;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    position: relative;
    overflow: hidden; }
    .application-others .application-others__title span {
      display: block; }
    .application-others .application-others__title::before {
      content: '';
      width: 31%;
      height: 100%;
      background-color: #FFA0B6;
      position: absolute;
      right: -6%;
      top: 0;
      transform: skew(30deg); }
  .application-others .application-others__data {
    padding: 15px 16px 20px;
    background-color: #fff;
    border-radius: 0 0 10px 10px; }
    .application-others .application-others__data .data-date {
      font-size: 1.8rem;
      font-weight: 600;
      color: #D70056; }
      .application-others .application-others__data .data-date em {
        font-size: 2.4rem; }
    .application-others .application-others__data .data-text {
      margin-top: 5px;
      font-size: 1.3rem;
      line-height: 1.46; }

.deadline .application-others__data {
  padding-top: 5px; }
  .deadline .application-others__data .deadline-item .subject__num {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    -moz-column-gap: 8px;
    column-gap: 8px; }
    .deadline .application-others__data .deadline-item .subject__num span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0 18px;
      background-color: #F8B616;
      border-radius: 19px;
      height: 38px;
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: 0.1em;
      color: #D70056;
      white-space: nowrap; }
    .deadline .application-others__data .deadline-item .subject__num::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #D70056; }
  .deadline .application-others__data .deadline-item .deadline-item__title {
    margin-top: 15px;
    font-size: 1.8rem;
    font-weight: 600; }

@media only screen and (min-width: 768px) {
  .application-others {
    margin-top: 30px; }
    .application-others .application-others__title::before {
      width: 78%; }
    .application-others .application-others__data {
      padding: 15px 50px 20px; }
      .application-others .application-others__data .data-date {
        font-size: 2rem; }
        .application-others .application-others__data .data-date em {
          font-size: 3rem; }
      .application-others .application-others__data .data-text {
        margin-top: 5px; }

  .contract .application-others__data {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; }
    .contract .application-others__data .data-date {
      flex-shrink: 0;
      margin: 0 24px 0 0; }
    .contract .application-others__data .data-text {
      margin: 0; }

  .deadline .application-others__data {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
    padding-bottom: 25px; }
    .deadline .application-others__data .deadline-item {
      flex-basis: 46.75%; }
      .deadline .application-others__data .deadline-item .subject__num {
        margin-top: 0; }
      .deadline .application-others__data .deadline-item .deadline-item__title {
        margin-top: 20px;
        font-size: 2rem; }
      .deadline .application-others__data .deadline-item .data-date {
        display: inline-block;
        margin-right: 12px; }
      .deadline .application-others__data .deadline-item .data-text {
        display: inline-block;
        margin-top: 0; } }
.information {
  position: relative; }
  .information::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #006eba 0%, #166cb6 6.71%, #366bb2 14.47%, #ca3962 38.56%, #cf3360 42.67%, #dd225d 48.04%, #e41b5c 50%, #e5354d 56.86%, #e74c41 63.93%, #ee7f29 73.8%, #f3a219 79.98%, #f6b413 90.33%, #f9c110 100%);
    background-size: 200%;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; }
  .information .inner {
    width: 100%;
    max-width: calc(900px + 30px);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 80px; }
    @media only screen and (min-width: 768px) {
      .information .inner {
        max-width: calc(900px + 100px);
        padding-left: 50px;
        padding-right: 50px; } }
  .information .information__title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    -moz-column-gap: 10px;
    column-gap: 10px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.1em;
    color: #D70056;
    text-align: center; }
    .information .information__title::before, .information .information__title::after {
      content: '';
      width: 33px;
      height: 46px;
      background-image: url(../images/bg-other-title.svg);
      background-repeat: no-repeat; }
    .information .information__title::after {
      transform: scale(-1, 1); }
  .information .button-wrap {
    margin-top: 32px; }
  .information .sns {
    margin-top: 40px; }

@media only screen and (min-width: 768px) {
  .information .inner {
    padding-top: 105px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 120px; }
  .information .information__title {
    -moz-column-gap: 30px;
    column-gap: 30px;
    font-size: 2.4rem; }
  .information .sns {
    margin-top: 60px; } }
.sec-oheyaplus {
  padding-top: 38px;
  background-color: #FFD0D3;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .sec-oheyaplus .oheyaplus-arrow {
    width: 54px;
    height: 88px;
    background-image: url(../images/ico-3arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    position: absolute;
    left: calc(50% - 27px);
    top: 8px; }
  .sec-oheyaplus .bg-oheyaplus-circle {
    background-color: #FFF7E2;
    width: 340%;
    height: 200%;
    border-radius: 100%;
    position: absolute;
    left: calc(50% - 170%);
    bottom: calc(-100% - 55px);
    z-index: -1; }
  .sec-oheyaplus .inner {
    padding: 120px 32px 90px; }
  .sec-oheyaplus .oheyaplus-image {
    text-align: center; }
    .sec-oheyaplus .oheyaplus-image img {
      width: 60%;
      max-width: 187px; }
  .sec-oheyaplus .oheyaplus-data {
    margin-top: 40px; }
    .sec-oheyaplus .oheyaplus-data .oheyaplus-data__title {
      width: 266px; }
    .sec-oheyaplus .oheyaplus-data .oheyaplus-data__text {
      margin-top: 20px;
      line-height: 1.5; }
    .sec-oheyaplus .oheyaplus-data .button-wrap {
      margin-top: 35px; }
      .sec-oheyaplus .oheyaplus-data .button-wrap .button--yellow {
        margin-top: 0; }
      .sec-oheyaplus .oheyaplus-data .button-wrap .button--red {
        margin-top: 30px; }

@media only screen and (min-width: 768px) {
  .sec-oheyaplus {
    padding-top: 28px;
    background-size: 100% 212px; }
    .sec-oheyaplus .oheyaplus-arrow {
      top: 20px; }
    .sec-oheyaplus .bg-oheyaplus-circle {
      width: 176%;
      left: calc(50% - 88%);
      bottom: calc(-100% - 70px); }
    .sec-oheyaplus .inner {
      padding: 250px 0 120px; }
    .sec-oheyaplus .oheyaplus-wrap {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: stretch;
      margin: 0 auto;
      width: 77.333%;
      max-width: 696px; }
    .sec-oheyaplus .oheyaplus-image {
      flex: 0 0 187px; }
      .sec-oheyaplus .oheyaplus-image img {
        width: 100%; }
    .sec-oheyaplus .oheyaplus-data {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: stretch;
      flex-direction: column;
      flex-basis: calc(100% - 187px);
      margin-left: 57px;
      margin-top: 0; }
      .sec-oheyaplus .oheyaplus-data .oheyaplus-data__text {
        margin-top: 30px; }
      .sec-oheyaplus .oheyaplus-data .button-wrap {
        margin-top: auto;
        margin-bottom: 6px; }
        .sec-oheyaplus .oheyaplus-data .button-wrap .button {
          justify-content: center;
          margin-left: 0;
          margin-right: 0;
          width: 93%;
          white-space: nowrap; }
        .sec-oheyaplus .oheyaplus-data .button-wrap .button--yellow {
          margin-top: 0; }
        .sec-oheyaplus .oheyaplus-data .button-wrap .button--red {
          margin-top: 30px;
          height: 64px; } }
