// ----------------------------------------------------------------
// * Valiables
// ---------------------------------------------------------------
$break: 768;
$maxsize: 900;
$baseFontSize: 15;

$ff-go: 'Noto Sans JP', sans-serif;
// $ff-go: 'Noto Sans CJK JP', sans-serif;
// $ff-go: Helvetica, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", sans-serif;
// $ff-go: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
// $ff-min: '游明朝', '游明朝体', 'Yu Mincho', YuMincho, serif;
$ff-num: 'Roboto', sans-serif;
$ff-icon: 'ForkAwesome';

$baseColor: #333333;
$mainColor: #D70056;
$linkColor: #D70056;
$linkHoverColor: #333333;

$gray1: #B5B5B5;
$brown: #40210F;
$red: #D70056;
$orange: #FF9C15;
$green: #59D821;